# Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=email_bot
DB_HOST=postgres
DB_PORT=5432

# SMTP Configuration
SERVER_SMTP=smtp.gmail.com
PORTA_SMTP=587
SENDER_EMAIL=seu_email@gmail.com
PASSWORD=sua_senha_de_app

# Application Configuration
RANGE_DAYS=30

# Flask Configuration
FLASK_ENV=development
FLASK_APP=app.py
